---
interface Props {
  image: string;
  title: string;
}

const { image, title } = Astro.props;

---

<div class="flex flex-col items-center justify-center w-full">
    <div class="relative w-64 h-64">
        <img src={image} alt={title} class="w-full h-full object-cover rounded-lg shadow-md hover:shadow-lg transition-shadow" />
    </div>
    <p class="text-xl font-bold text-center mt-4">{title}</p>
    <button 
      class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-2"

    >
      Agregar
    </button>
</div>
